* {
  box-sizing: border-box;
}

.navbar {
  background-color: #AAA;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-header {
  margin: 0px;
}

.navbar-nav {
  margin: 0px;
}

#bs-example-navbar-collapse-1 {
  padding: 0px;
}

.navbar-default .navbar-nav > li > a {
  margin: 0px;
  color: black;
  text-align: center;
  font-size: 16px;
  background-color: #DDD;
}

.navbar-default .navbar-nav > li > a:hover {
  font-weight: bold;

}



.chicken {
  background-color: #AAA;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}



